h1 {
  margin-bottom: 40px;
  margin-top: 0px;
}
p {
  margin-bottom: 30px;
}
.page-content {
  max-width: 850px;
  color: white;
}
.custom-input {
  background: black;
  color: white;
  border: none;
  border-bottom: 5px solid white;
  border-radius: 0;
  box-shadow: none;
  font-weight: bolder;
  margin: 10px;
  &::placeholder {
    color: white;
    opacity: 0.9;
  }
  &:focus {
    border: none;
    border-bottom: 5px solid white;
    box-shadow: none;
  }
}
#enigme_1 {
  @media(min-width: 650px) {
    min-width: 420px;
  }
}

.t-italic {
  font-style: italic;
}
video {
  max-width: 600px;
}
.bg-white {
  background: white;
  color: black;
  padding: 0px 2px;
  margin-right: 2px;
}
.t-black {
  color: black;
}
.side-bar {
  width: 300px;
  a {
    display: block;
    margin-bottom: 15px;
    line-height: 20px;
  }
}
.mobile-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
  position: fixed;
  background: white;
  border-bottom: 5px solid #DEE1E6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mobile-navbar {
  a, span {
    position: relative;
    z-index: 100;
  }
  > div {
    position: relative;
  }
  #arrows {
    height: 50px;
    width: 50px;
    background: white;
    border-bottom: 5px solid #DEE1E6;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    justify-content: center;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px)
  }
}
.m-t-neg200pc {
  margin-top: -200%;
}
.m-t-neg10px {
  margin-top: -10px;
}
.opacity-5 {
  opacity: 0.5;
}
.hidden-under-800px {
  @media(max-width: 799px) {
    display: none;
  }
}
.only-under-800px {
  @media(min-width: 800px) {
    display: none;
  }
}
.mg-t-30px {
  margin-top: 30px;
}
