<div class="home-container">
  <h1>FELICITATIONS</h1>
  <h2>On a hâte de vous rencontrer.</h2>
  <h2>Merci de confirmer par mail reviheyllar@gmail.com votre présence à la date, l’heure et l’adresse indiquée.</h2>
  <h2>A très vite.</h2>
</div>
