<div class="container home-container text-center">
  <div class="window">
    <div class="inner-window">
      <div class="page-content">
        <h1>FELICITATIONS</h1>
        <p>On a hâte de vous rencontrer.</p>
        <p>Merci de confirmer par mail <span class="bg-white">reviheyllar@gmail.com</span> votre présence à la date, l’heure et l’adresse indiquée.</p>
        <p><span class="bg-white">A très vite</span><span id="pulse" class="">_</span></p>
      </div>
    </div>
  </div>
</div>
