<div class="home-container">
  <h1>Enigme 1</h1>
  <h2>Comme prévu dans son journal intime, Parker a enfin fin de monter son meuble <strong>IKEA</strong></h2>
  <h2>XSALWK LGETWJ DWK TAFGUDSJVK</h2>
</div>
