<div class="container home-container text-center">
  <div class="window">
    <div class="inner-window">
      <div class="page-content">
        <h1>Enigme 1</h1>
        <p>
          Comme prévu dans son journal intime,
          <br>
          Parker a enfin fini de monter son meuble
          <br>
          <strong>IKEA</strong>
        </p>
        <p class="t-italic">XSALWK LGETWJ DWK TAFGUDSJVK</p>
        <%= form_tag enigme1_attempt_path, class: 'form-inline' do %>
          <%= text_field_tag :attempt, nil, id: "enigme_1", class: 'form-control custom-input', autofocus: true %>
          <%= submit_tag "Valider", class: 'custom-btn' %>
        <% end %>
        <%= render "errors" %>
      </div>
    </div>
  </div>
</div>
