<div class="window">
  <div class="inner-window">
    <div class="page-content text-center">
      <h1>Alors, quel est le dernier personnage debout?</h1>
      <%= form_tag enigme8_attempt_path, class: 'form-inline' do %>
        <%= text_field_tag :attempt, nil, class: "form-control custom-input #{"t-green" if @answer}", autofocus: true, value: "#{@answer.content if @answer}" %>
        <%= submit_tag "Valider", class: 'custom-btn' %>
      <% end %>
      <%= render "errors" %>
    </div>
  </div>
</div>
