<div class="container home-container">
  <h1>Site protégé</h1>
  <h2>Entrez le mot de passe fourni sur la boîte pour accéder au site</h2>
  <%= form_tag password_path, class: 'form-inline' do %>
    <%= text_field_tag :attempt, nil, placeholder: '166.........', class: 'form-control'%>
    <%= submit_tag "Valider", class: 'btn btn-primary' %>
  <% end %>
  <p class="flash_error">
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
  </p>
</div>
