<div class="container home-container text-center">
  <div class="window">
    <div class="inner-window">
      <div class="page-content">
        <%= video_tag("generique.mp4", controls: true, autobuffer: true, autoplay: :autoplay) %>
        <br>
        <%= link_to "Suivant", enigme1_path, class: "custom-btn" %>
      </div>
    </div>
  </div>
</div>
